pkgbase = linux-zencjk
	pkgdesc = Linux ZEN (with cjktty patch)
	pkgver = 6.9.3.zen1
	pkgrel = 2
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL-2.0-ONLY
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.9.3.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.9.3.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.9.3-zen1/linux-v6.9.3-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.9.3-zen1/linux-v6.9.3-zen1.patch.zst.sig
	source = https://gitlab.archlinux.org/archlinux/packaging/packages/linux-zen/-/raw/6.9.3.zen1-1/config
	source = 0001-cjktty.patch::https://github.com/bigshans/cjktty-patches/raw/master/v6.x/cjktty-6.9.patch
	source = 0002-cjktty-32.patch::https://github.com/bigshans/cjktty-patches/raw/master/cjktty-add-cjk32x32-font-data.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	b2sums = 8d8fe931d304458bcaa8c8b9572a5354ad272d88d1e0642e76b37247ce13bf70c49c8de6d8843fbb3037ee074ebc6cc94f0cc2b5b7e7187385a9dd0b0e2e250d
	b2sums = SKIP
	b2sums = 2f254b795c4f309c3b5007958ca0d7698e9c3c26eb867509fc95fc442a24793934204053147195b6ac0d7e554699ac2e131a44f7bece0032dcabb588c73e7020
	b2sums = SKIP
	b2sums = ced8aedd351088cd9f721ceae2b38823b1dac3b5346de19fe2681c84d2a3de444aed5eeaed8d2cf6f7c9c547ed5c6ee3441e03ac0e8d239c35b781b640dc1764
	b2sums = 9a04dd9d63207f2233423434eac319dec9ee7141909b5a094ffea83729237b7042684689c302d1efc762f822e9d2d68995193554c419bbfa2bb98bd52fb9a6e6
	b2sums = 101996793aeede5e456b23b35c2fd4af5c38fd363473dcdda0bce6e21d110a9f88a67e325b1ebf8efef4a7511f135c4f64ff1fc54b8ef925a5df8d6292ba7678

pkgname = linux-zencjk
	pkgdesc = The Linux ZEN (with cjktty patch) kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zencjk-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN (with cjktty patch) kernel
	depends = pahole
