pkgbase = linux-zencjk
	pkgdesc = Linux ZEN (with cjktty patch)
	pkgver = 7.0.2.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL-2.0-ONLY
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !strip
	options = !debug
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/linux-7.0.2.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/linux-7.0.2.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v7.0.2-zen1/linux-v7.0.2-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v7.0.2-zen1/linux-v7.0.2-zen1.patch.zst.sig
	source = https://gitlab.archlinux.org/archlinux/packaging/packages/linux-zen/-/raw/7.0.2.zen1-1/config
	source = 0001-cjktty.patch::https://github.com/bigshans/cjktty-patches/raw/master/v6.x/cjktty-7.0.patch
	source = 0002-cjktty-32.patch::https://github.com/bigshans/cjktty-patches/raw/master/cjktty-add-cjk32x32-font-data.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	b2sums = 7aa3622deee5106e19c907b06f4249b8393532d4b502febf19412291861d0df582735ac134e04279e23516862df7d1a596d522c324b78a0a6e6691cc25f8975f
	b2sums = SKIP
	b2sums = 3b6230e4bd79e25346e32fb2b07633010f1227f938e9541d4af5e4b623d94ca9a65ae04fb6cf3957b00cd39f5069685a5422e8e179af695d5ce6dae6864ee63a
	b2sums = SKIP
	b2sums = ced8aedd351088cd9f721ceae2b38823b1dac3b5346de19fe2681c84d2a3de444aed5eeaed8d2cf6f7c9c547ed5c6ee3441e03ac0e8d239c35b781b640dc1764
	b2sums = 46b2630c6bec2dc4d84638d7be6a2391fef158c9a268f64c099927dd5e6b4a4c7269516e347c72ea8d02e6875cfbe8ac6d162214de45ff53ab2bfc1cfbbd9248
	b2sums = 101996793aeede5e456b23b35c2fd4af5c38fd363473dcdda0bce6e21d110a9f88a67e325b1ebf8efef4a7511f135c4f64ff1fc54b8ef925a5df8d6292ba7678

pkgname = linux-zencjk
	pkgdesc = The Linux ZEN (with cjktty patch) kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zencjk-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN (with cjktty patch) kernel
	depends = pahole
